$tipografia-principal: 'Libre Baskerville', serif;
$tipografia-secundaria: 'Quicksand', sans-serif;
$tipografia-terciaria: 'Great Vibes', cursive;

$color-principal: #FFFFFF;
$color-secundario: #000000;
$color-terciario: #FB2576;
$color-boton: #FFE15D;
$color-mobile: #FF577F;
$color-contacto: #D7D2D2;
$box-shadow: rgba(0, 0, 0, 0.50);
