@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Quicksand&display=swap');

@font-face {
    font-family: 'Playlist';
    src: local('Playlist Script'), local('Playlist-Script'),
        url('../fonts/Playlist-Script.woff2') format('woff2'),
        url('../fonts/Playlist-Script.woff') format('woff'),
        url('../fonts/Playlist-Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}